.vscode/*
.vs

.idea

qemu.log
kernel.log
kernel.elf
boot.iso

.ninja_deps
.ninja_log

.tmp.*

CLAUDE.md

CMakeCache.txt
CMakeFiles/

build.ninja
cmake_install.cmake

out/*
build/*
tools/*
tars/*

*.iso
sysroot/*

*.d
*.o
*.a
*.kernel
*.core
