KERNEL_ARCH_CFLAGS=-I$(ARCHDIR)/include
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=$(ARCHDIR)/dev/tty.o $(ARCHDIR)/dev/timer.o \
$(ARCHDIR)/i386/boot.o $(ARCHDIR)/i386/memsetw.o $(ARCHDIR)/i386/cpu.o $(ARCHDIR)/i386/bus.o $(ARCHDIR)/i386/gdt.o \
$(ARCHDIR)/i386/stage1.o $(ARCHDIR)/i386/paging.o $(ARCHDIR)/i386/isr.o $(ARCHDIR)/i386/idt.o $(ARCHDIR)/i386/vectors.o

